@model string

<div class="pull-right">
    <div class="input-group">
        <input type="text" id="search" placeholder="Search name or code here" class="form-control b1 js-searchEmployee" value="@(ViewBag.SearchCriteria ?? "")" />
        <span class="input-group-btn">
            <button class="btn btn-primary js-search" type="button">Go! </button>
        </span>
    </div>
</div>

<input type="hidden" value="@Model" class="js-searchLocation"/>