packages/
Payroll.Test/bin/
Payroll/bin/
Payroll.Repository/bin/
Payroll.Infrastructure/bin/
Payroll.Entities/bin/
Payroll.Service/bin/
Payroll.Entities/obj
Payroll.Service/obj
Payroll.Test/obj/
Payroll/obj/
