packages/
Payroll.Test/bin/
Payroll/bin/
Payroll.Repository/bin/
Payroll.Infrastructure/bin/
Payroll.Entities/bin/
Payroll.Service/bin/
Payroll.Entities/obj
Payroll.Service/obj
Payroll.Test/obj/
Payroll/obj/
Payroll.Repository/obj/
Payroll.Infrastructure/obj/
Payroll.AttendanceManager/bin/
Payroll.AttendanceManager/obj/Debug/
Payroll.AttendanceManager/obj/Release/
Payroll.AttendanceManager/obj/x64/Release/DesignTimeResolveAssemblyReferences.cache
Payroll.AttendanceManager/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
Payroll.AttendanceManager/obj/x64/Release/Interop.zkemkeeper.dll
Payroll.AttendanceManager/obj/x64/Release/Payroll.AttendanceManager.csproj.FileListAbsolute.txt
Payroll.AttendanceManager/obj/x64/Release/Payroll.AttendanceManager.csproj.GenerateResource.Cache
Payroll.AttendanceManager/obj/
Payroll.AttendanceManager/Payroll.Logger/bin/Debug/Payroll.Logger.dll
Payroll.AttendanceManager/Payroll.Logger/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Payroll.AttendanceManager/Payroll.Logger/obj/Debug/Payroll.Logger.csproj.FileListAbsolute.txt
Payroll.AttendanceManager/Payroll.Logger/obj/Debug/Payroll.Logger.dll
Payroll.AttendanceManager/Payroll.Logger/obj/Debug/Payroll.Logger.pdb
Payroll.AttendanceManager/Payroll.Logger/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Payroll.AttendanceManager/Payroll.Logger/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Payroll.AttendanceManager/Payroll.Logger/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Payroll.Common/bin/Debug/Payroll.Common.pdb
Payroll.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Payroll.Common/obj/Debug/Payroll.Common.csproj.FileListAbsolute.txt
Payroll.Common/obj/
Payroll.LoginDisplay/Payroll.LoginDisplay/bin/
Payroll/Images/Employee/1.jpg
Payroll/Images/Employee/
Payroll.Scheduler/Payroll.Scheduler/bin/Debug/
Payroll.Scheduler/Payroll.Scheduler/obj/Debug/
Payroll.Common/bin/Debug/Omu.ValueInjecter.pdb
Payroll.Common/bin/Debug/Omu.ValueInjecter.xml
Payroll.Common/bin/Debug/
.vs/
Payroll.Scheduler/Payroll.Scheduler.v12.suo
Payroll.sln.DotSettings.user
Payroll.LoginDisplay/Payroll.LoginDisplay/obj/Debug/Payroll.LoginDisplay.dll
Payroll.LoginDisplay/Payroll.LoginDisplay/obj/Debug/Payroll.LoginDisplay.pdb
