@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>PAYROLL SYSTEM</h2>
    <p class="lead">
        Clock in and out every day with a smile. <br/>
        Track time, attendance, scheduling and analytics in your business with one simple system.
    </p>
</div>


<div class="row">
    <div class="col-md-3">
        <div class="home-info-icon"><i class="fa fa-mobile fa-4x"></i></div>
        <h3>Payroll on-the-go.</h3>
        <p>Pay employees anytime, anywhere using multiple web browsers, tablets and mobile phones:iPhone or Android</p>
    </div>
    <div class="col-md-3">
        <div class="home-info-icon"><i class="fa fa-credit-card-alt fa-4x"></i></div>
        <h3>RFID Ready</h3>
        <p>Uses today's technology to ensure the right person is clocking in at the right time.</p>
    </div>
    <div class="col-md-3">
        <div class="home-info-icon"><i class="fa fa-map-marker fa-4x"></i></div>
        <h3>Multiple worksites and location-enabled</h3>
        <p>Collect time and attendance information from any offsite location or worksite with ease and accuracy.</p>
    </div>
    <div class="col-md-3">
        <div class="home-info-icon"><i class="fa fa-users fa-4x"></i></div>
        <h3>All employee information at your fingertips</h3>
        <p>Keep your company organized and never lose valuable documents in a sea of paperwork.</p>
    </div>
</div>