body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

@media all {

    .clear-left {clear:left;}

    /* Padding */
    .p0 { padding: 0; }

    /* Margin */
    .m0 { margin: 0; }
    .ml1 {margin-left:1em;}
    .ml2 {margin-left:2em;}
    .mr1 {margin-right:1em;}
    .mr2 {margin-right:2em;}

    /* Width */
    .w10 { width:10%; }
    .w20 { width:20%; }
    .w30 { width:30%; }
    .w40 { width:40%; }
    .w50 { width:50%; }
    .w60 { width:60%; }
    .w70 { width:70%; }
    .w80 { width:80%; }
    .w90 { width:90%; }
    .w100 { width:100%; }

    .img-responsive { width: 100%; }
    .img-max { max-width: 100%; }
    .inline-block { display: inline-block; }
    .relative { position: relative; }

    /* Spacers for mobile only */
    .b0 { margin-bottom: 0 !important; }
    .b1 { margin-bottom: 1em; }
    .b2 { margin-bottom: 2em; }
    .b3 { margin-bottom: 3em; }
    .b4 { margin-bottom: 4em; }
    .t0 { margin-top: 0; }
    .t1 { margin-top: 1em; }
    .t2 { margin-top: 2em; }
    .t3 { margin-top: 3em; }
    .t4 { margin-top: 4em; }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:  flex;
}

.employee-details-picture {
    max-height: 250px;
}

.home-info-icon {
    text-align: center;
}

.typeahead { z-index: 1051; }

.totalTableBorder { border-top:2px solid; }

.table-payroll-detail td  { width: 25%;}

.pos-amount { color: green}

.neg-amount { color: red}

.gold {color: gold}

@media print {
  .hidden-print {
    display: none !important;
  }
}