@using Payroll.Entities.Enums
@model Payroll.LoginDisplay.Models.Payroll.LogInViewModel

@if (Model != null)
{
    <div class="row">

        <div class="col-xs-12">
            @if (Model.AttendanceCode == AttendanceType.ClockIn)
            {
                <span class="clockin">Clock in success!</span>
            }
            @if (Model.AttendanceCode == AttendanceType.ClockOut)
            {
                <span class="clockout">Clock out success!</span>
            }
        </div>

        <div class="col-xs-12 col-sm-6">
            @Html.Action("EmployeeInformation", new { id = Model.EmployeeId })
        </div>

        <div class="col-xs-12 visible-xs">
            <h3>@Model.Datetime.ToLongDateString()</h3>
        </div>

        <div class="col-sm-6 hidden-xs">
            <h1>@Model.Datetime.ToLongDateString()</h1>
            <span class="timeinout">@Model.Datetime.ToLongTimeString()</span>
        </div>
    </div>
}