@using Payroll.Common.Enums
@model Payroll.LoginDisplay.Models.Payroll.LogInViewModel
@{
    ViewBag.Title = "DisplayTimeInOut";
}

<div class="row">
    <div class="col-xs-12">
        @if (Model.AttendanceCode == AttendanceCode.ClockIn)
        {
            <span class="clockin">Clock in success!</span>
        }
        @if (Model.AttendanceCode == AttendanceCode.ClockOut)
        {
            <span class="clockout">Clock out success!</span>
        }
    </div>
    <div class="col-xs-6">
        @Html.Action("EmployeeInformation", new { id = Model.EmployeeId })
    </div>
    <div class="col-xs-6">
        <h1>@Model.Datetime.ToLongDateString()</h1>
        <span class="timeinout">@Model.Datetime.ToLongTimeString()</span>
    </div>
</div>


@section scripts
{
    <script>
        //after 10 seconds redirect to default page
        window.setTimeout(function () {
            window.location = '/Payroll/Index';
        }, 10000);
    </script>
}
