
@{
    ViewBag.Title = "Index";
}

<div class="welcome">
    <div id="date">Display Time Here</div>
    <div id="time">Display Time Here</div>
</div>


@section scripts
{
    <script type="text/javascript">
        function formatTime(i) {
            if (i < 10) { i = "0" + i; };  // add zero in front of numbers < 10
            return i;
        }

        function startTimer() {

            var today = new Date();
            var locale = "en-us";

            var year = today.getYear();
            var month = today.toLocaleString(locale, { month: "long" });
            var day = formatTime(today.getDay());

            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            var strTime = h > 12 ? ' pm' : ' am';

            h = formatTime(h > 12 ? h - 12 : h);
            m = formatTime(m);
            s = formatTime(s);
            
            $('#time').html(h + ':' + m + ':' + s + strTime);
            $('#date').html(month + ' ' + day + ' ' + year);

            setTimeout(startTimer, 1000);
        }

        $(document).ready(function() {
            startTimer();
        });

    </script>
}
