@{
    ViewBag.Title = "Payroll Login Display";
}

<div class="container row">
    <div class="js-container" id="registration">
        @Html.Partial("Registration")
    </div>
    
    <div class="js-container hidden" id="timeintimeout">
        @Html.Partial("DisplayTimeInOut", null)
    </div>
    
    <div class="js-container hidden" id="timer">
        @Html.Partial("Timer")
    </div>
</div>