<h1>Machine Registration</h1>

<div class="alert alert-danger hidden js-error">Unavaile to register to the machine. Please contact admin</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">Machine's Ip Address</label>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="192.168.x.x" id="txtIpAddress" />
            <div class="label label-info">This should match the Machine's Ip Address</div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="button" value="Register" id="Register" class="btn btn-primary" />
        </div>
    </div>
</div>