
<div class="row js-timerPanel">
    <div class="col-md-12 welcome-md hidden-xs">
        <div class="date"></div>
        <div class="time"></div>    
    </div>
    <div class="col-md-12 welcome-xs visible-xs">
        <div class="date"></div>
        <div class="time"></div>
    </div>
</div>