@using Payroll.Extension

@{
    ViewBag.Title = "Attendance Log";
    ViewData["InfoMessage"] = "Leave this blank to search all employees";
}

<h2>Attendance Log</h2>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Only the system's attendance Log will be displayed here. To view the formatted clock-ins and outs, please use the Attendance.
</div>

<form>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Filter by Employee:", new { @for = "EmployeeId", @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.Partial("_EmployeeTypeAhead", 0)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="StartDate">Start Date: </label>
            <div class="col-md-4">
                @Html.DatePickerFor("StartDate", DateTime.Now, new { @class = "form-control datepicker js-startDate" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="EndDate">End Date: </label>
            <div class="col-md-4">
                @Html.DatePickerFor("EndDate", DateTime.Now, new { @class = "form-control datepicker js-endDate" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-primary js-submitAttendancelLog">Submit</button>
            </div>
        </div>
    </div>
</form>

<div id="content"></div>

@section scripts
{
    <script type="text/javascript">
        $.validator.setDefaults({ ignore: [] });
    </script>
    <script type="text/javascript" src="/Scripts/Employee/employeetypeahead.js"></script>
    <script type="text/javascript" src="/Scripts/Attendance/attendancelog.js"></script>
}
