@model Payroll.Models.Payroll.EmployeeAdjustmentViewModel

@{
    ViewBag.Title = "Adjustment";
}

<h2>Adjustment</h2>


<div class="row b2">
    <label class="control-label col-md-2" for="Date">Payroll Dates</label>
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.Date, Model.Adjustments, new {@class = "form-control js-payrollDates"})
    </div>
</div>


<div id="adjustment-container">
    @Html.Partial("_Adjustments", Model)
</div>

@Html.Partial("_ViewAdjustmentModal")

@section scripts
{
    <script type="text/javascript" src="/Scripts/Payroll/adjustment.js"></script>
    <script type="text/javascript" src="/Scripts/Maintenance/maintenance.js"></script>
}
