body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.welcome-md {
    text-align: center;
    font-size: 150px;
}

.welcome-xs {
    text-align: center;
    font-size: 75px;
}

.timeinout {
    font-size: 80px;
}

.clockin, .clockout {
    font-size: 50px
}

.employee-image {
    max-height: 300px;
}