<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate}${newline}${uppercase:${level}}${newline}${identity}${newline}${message}${newline}${newline}" />
    <target xsi:type="Database" name="database" dbProvider="MySql.Data.MySqlClient" connectionStringName="ConnectionString.MySql" connectionString="server=localhost;uid=root;pwd=root;database=frisco_prod" commandText="INSERT INTO logs (DateLogged, Level, UserName, Message, Url, Logger, Callsite, Exception) VALUES (@DateLogged, @Level, @UserName,  @Message, @Url, @Logger, @Callsite, @Exception);">
      <parameter name="@DateLogged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Username" layout="${identity}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Url" layout="${aspnet-request:serverVariable=HTTP_URL}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@CallSite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="f" />
    <logger name="*" minlevel="Info" writeTo="database"/>
  </rules>
</nlog>
